header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(16, 63, 69);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    height: 65px;
    cursor: pointer;
    margin-left: 40px;
}

header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    margin-right: 800px;
    margin-left: 22px;
    display: flex;
}

header li a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 23px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
}

.nav {
    flex: 1;
}

.cart-button {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 220, 44);
    color: black;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    margin-right: 40px;
    padding-right: 45px;
}

.cart-button:hover {
    background-color: rgba(255, 220, 44, 0.865);
    transition: 0.15s;
}

.cart-button img {
    height: 30px;
}


.red-text-box {
    font-family: 'Roboto', sans-serif;
    color: rgb(71, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: rgb(248, 114, 114);
    text-align: center;
    padding: 18px 20px; 
    border-radius: 15px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
}

.red-text-box .content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.red-text-box .cross-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .red-text-box {
        margin: 20px; 
        padding: 15px;
    }
    
    .red-text-box .cross-icon {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .red-text-box .content {
        align-items: flex-start; 
    }
}

.no-order {
    font-weight: 1000;
    line-height: 30px;
}

.cross-icon {
    font-size: 35px;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.heading-stats {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.short-sleeve{
    margin-top: 50px;
    width: 350px;
}

.long-sleeve{
    margin-top: 50px;
    width: 350px;
}

.hoodie{
    margin-top: 50px;
    width: 300px;
    margin-left: 40px;
}

.cap{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 280px;
    margin-left: 40px;
}

.canvas-bag{
    margin-top: 50px;
    width: 350px;
}

.line1{
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

.line2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-left: 15px;
}

.line3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-right: 30px;
    margin-left: 15px;
}

.line4{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.158);
    color: rgba(5, 5, 5, 0.525);
    opacity: 1;
    cursor: not-allowed;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: rgba(5, 5, 5, 0.162);
    color: rgba(5, 5, 5, 0.329);
    border-radius: 6px;
}

.line3a{
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
}

.line3b{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-left: 18px;
}

.line3c{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-right: 30px;
    margin-left: 18px;
}

.line3d{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.158);
    color: rgba(5, 5, 5, 0.525);
    opacity: 1;
    cursor: not-allowed;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: rgba(5, 5, 5, 0.162);
    color: rgba(5, 5, 5, 0.329);
    border-radius: 6px;
}

.line4a{
    font-size: 22px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
}

.line4b{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-left: 18px;
}

.line4c{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-right: 30px;
    margin-left: 18px;
}

.line4d{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.158);
    color: rgba(5, 5, 5, 0.525);
    opacity: 1;
    cursor: not-allowed;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: rgba(5, 5, 5, 0.162);
    color: rgba(5, 5, 5, 0.329);
    border-radius: 6px;
}

.line5a{
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
}

.line5b{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-left: 18px;
}

.line5c{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    opacity: 1;
    margin-right: 30px;
    margin-left: 18px;
}

.line5d{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.158);
    color: rgba(5, 5, 5, 0.525);
    opacity: 1;
    cursor: not-allowed;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: rgba(5, 5, 5, 0.162);
    color: rgba(5, 5, 5, 0.329);
    border-radius: 6px;
}

.box1{
    width: 365px;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left:10px ;
}

.box2{
    width: 365px;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left:10px ;
}

.box3{
    width: 365px;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 5px;
    margin-right: 0px;
    margin-left:10px ;
}

.box4{
    width: 365px;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 90px;
    padding-left: 12px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left:10px ;
    margin-top: 0px;
}

.box5{
    width: 365px;
    display: inline-block;
    background-color: white;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left:10px ;
    margin-top: 30px;
}

.disclaimer{
    font-style: italic;
    color: rgba(0, 0, 0, 0.479);
    font-size: 17px;
    margin-left: 220px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.footer{
    background-color: rgb(24, 36, 44);
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    color: white;
}

/* Add styles for the social media icons */

.copyright {
    margin-left: 28px;
}

.web, .instagram, .linkedin, .facebook {
    display: inline-block;
}

.web{
    height: 28px;
    display: inline-block;
    margin-left: 575px;
    margin-bottom: 6px;
}

.instagram{
    height: 40px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 5px;

}

.linkedin{
    height: 30px;
    display: inline-block;
    margin-bottom: 7px;
    margin-left: 5px;
}

.facebook{
    height: 38px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 2px;
}
